<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @user.status == 'offline' %>
<%= link_to 'Go Online', online_user_path(@user) %>
<% else %>
<%= link_to 'Go Offline', offline_user_path(@user) %>
<% end %>

<%= link_to 'New User', new_user_path %>

<a href="/users/sign_out" data-method="delete" rel="nofollow">Log Out</a>

<script type="text/javascript">

$(function() {
  var key = "<%= Pusher.key %>"
  var currentUser = {
    id: "<%= @user.id %>",
    name: "<%= @user.name %>"
  }
  var pusher = new Pusher(key, {
    auth: {
      params: currentUser
    }
  });
  // var pusher = new Pusher(key, {
  //   auth: {
  //     params: {
  //       id: "Manager"
  //     }
  //   }
  // });

  var channel = pusher.subscribe('presence-lobby');

  channel.bind('pusher:subscription_succeeded', function() {
    console.log("Subscription Succeeded.");

    channel.members.each(function(member) {
      console.log(member.id + " " + member.info.name + " is in this lobby.");      
    });
    // for (var userId in channel.members.members) {
    //   // if (userId != currentUser.id) {
    //     var member = channel.members.members[userId];
    //     console.log(member + " is in this lobby.");
    //   // }
    // }
  });

  channel.bind('pusher:member_added', function(member) {
    console.log(member.id + " " + member.info.name + " joined lobby.");      
  });

  channel.bind('pusher:member_removed', function(member) {
    console.log(member.id + " " + member.info.name + " left this lobby.");      
  });
});

</script>